#[adxl345]
[lis2dw]
cs_pin: eboard:PA4
spi_speed: 1000000
#spi_bus: spi3
spi_software_sclk_pin: eboard:PA5
spi_software_mosi_pin: eboard:PA7
spi_software_miso_pin: eboard:PA6
axes_map:  -x, z, y
#rate: 800

[resonance_tester]
#accel_chip:adxl345
accel_chip:lis2dw
min_freq: 30
max_freq: 80
probe_points:
        130,130,100
accel_per_hz: 74